root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.swift]
indent_size = 2
max_line_length = 100

[*.{json,yml,yaml}]
indent_size = 2

[*.py]
indent_size = 4

[*.md]
indent_size = 2
trim_trailing_whitespace = false
